@import 'tailwindcss';
@import '@fontsource-variable/figtree';

@plugin 'daisyui' {
	exclude: properties;
}

@plugin 'daisyui/theme' {
	name: 'corporate';
	default: true;
	--color-primary: #ffb424;
	--radius-selector: 1.5rem;
	--radius-field: 0.5rem;
	--radius-box: 1rem;
}

@plugin 'daisyui/theme' {
	name: 'dim';
	prefersdark: true;
	--color-primary: #ffb424;
	--radius-selector: 1.5rem;
	--radius-field: 0.5rem;
	--radius-box: 1rem;
}

#app {
	@apply mx-auto flex w-full max-w-2xl flex-col gap-4 p-4;
}

@theme {
	--font-sans: 'Figtree Variable', sans-serif;
}
